.plate{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    height: 500px;
    display: block;
    margin-right: 500px;
}

.cube-1{
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 500px;
    transition: transform 0.5s;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    opacity: 0.5;
    filter: blur(2px);
    transition: 0.4s;
}
.cube-2 {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 500px;
    transform: translateX(30%);
    transition: 0.4s; 
    z-index: 3;
}
.cube-3 {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 500px;
    transform: translateX(60%);
    transition: transform 0.5s;
    z-index: 2;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.4s;
}


@media screen and (max-width: 1500px) {

    .plate {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 4rem;
        margin-bottom: 100px;
    }
        
}

@media screen and (max-width: 1200px) {

    .plate {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 6rem;
    }
        
}


@media screen and (max-width: 800px) {

    .plate {
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 9rem;
        margin-bottom: 0px;
    }
        .data-img {
            width: 100%;
        }
}
@media screen and (max-width: 650px) {

    .plate{
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 12rem;
        margin-bottom: 0px;
    }
    .data-img{
        width: 100%;
    }
}



