.newstitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px !important;
}
.card{
    color: rgb(76, 76, 76);
}
.ynet{
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 10px rgb(147, 164, 154);
}

.calcalist {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 10px  rgb(155, 121, 121);
}